$menu-title: #f1f7ff,#263544;
$header-theme: #42a5f5,#FF5370,#FF7043,#2ed8b6,#B388FF,#263544;
$header-theme-light: #fff;
$box-bg-color: #42a5f5,#FF5370,#FF7043,#2ed8b6,#B388FF,#263544;
$left-navbar-theme: #263544;
$left-navbar-light-theme: #fff;
$active-item: #42a5f5,#FF5370,#FF7043,#2ed8b6,#B388FF,#263544,#11c788,#FF4444,#ff784f,#38a9f9,#038f9e,#39ADB5;
$icon-color: #42a5f5,#FF5370,#FF7043,#2ed8b6,#B388FF;
$menu-font-color: #b7c0cd;
$sub-active-color: #1d2531;
$sub-active-color-light: #e2e2e2;

body {
  @each $value in $box-bg-color {
    $i: index($box-bg-color, $value);

    &[themebg-pattern="theme#{$i}"] {
      background-color: $value;
    }
  }
}